footer{
    margin: 120px auto auto;
    min-width: 200px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.85rem;
    gap: 16px;
    min-width: 200px;
}
.extra__content-list{
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.extra__link{
    color: var(--link-color);
    transition: color 1s;
}
.extra__copyright--small{
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
    font-family: Quicksand, sans-serif;
    color: var(--link-color);
}

.social{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top:65px;
}

.extra__link:hover{
    color: #fff;
}

.footer__signin{
    margin-top: 40px;
}
@media screen and (min-width: 481px){
    .extra__content-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        font-size: 0.90rem;
    }
}
@media screen and (min-width: 802px){
    footer{
        margin-top: 80px;
    }
}